@import "tailwindcss";

:root {
  color: #000000;
  background-color: #e8e8e8;
}

h1 {
  @apply text-3xl font-semibold;
  font-family: Arial, sans-serif;
  line-height: 1.1;
}

button {
  @apply cursor-pointer;
}
