@import "tailwindcss";

:root {
  color: #000000;
  background-color: #e5e7eb;
  --font-jetbrains: "JetBrains Mono", monospace;
}

h1 {
  @apply text-3xl font-semibold;
  font-family: Arial, sans-serif;
  line-height: 1.1;
}

button {
  @apply cursor-pointer rounded p-2;
}

@keyframes rainbow-radial-move {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

@keyframes gradient-pan {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.animate-gradient-pan {
  background-size: 200% 100%;
  animation: gradient-pan 8s linear infinite;
}

@layer utilities {
  .font-jetbrains {
    font-family: var(--font-jetbrains);
  }
}
